.grid button {
    display:inline-block;
    border-radius: 5px;
    width: 38px;
    height: 42px;
}
.tab-v1 {
    margin-top:40px;
    margin-bottom: 20px;
}

.nav-tabs li {
 background: #EFEFEF;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}


.tab-v1 .nav-tabs > .active > a, .tab-v1 .nav-tab {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.tab-v1 .nav-tabs > li > a:hover {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.x-titles, .x-categories {
    margin-bottom: 40px;
}
.x-title-item {
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left:0px;
    padding-right:0px;
}

#byTitle button {
    margin: 4px 0px;
    width:95%;
    border-radius: 5px;
    
}

.x-title-item .fa {
    float:left;
}

.x-categories .grid {
    margin: 5px 0px;
}



@media only screen and (min-width:480px) and (max-width: 1024px) {

}