/* ========================================
 ========= start color variables ========
========================================= */
@jfBlue: #36567D;
//@jfRed: #C12028;
@jfRed: #E74C3C;

@headerBackground: #000;
@headerColor: #ddd;

@searchbarBackground-color: #F1F1F1;
@searchbarBorder: #CCC;

@footer-bgcolor: #252525;
@footer-color: #FFF;
@footer-linkcolor: #EEE;
@footer-linkhovercolor: #FFF;
@footer-border: @searchbarBorder;




/*============== end colors ===============*/