body {
    font-family: 'Lato', sans-serif;
    font-size: @font-standard;
    color: #333;
}

a {
   color: @jfBlue;
   text-decoration:  none;
}


.fa {
    color: @jfBlue;
}


.form-control {
  border-radius: 5px;
}


.btn {
    border-radius: 5px;
}

.btn-primary {
  color: #fff;
  background-color: #36567d;
  border-color: #DDD;
}

.btn-primary:hover, .btn-primary:focus {
  color: #fff;
  background-color: @jfBlue;
  border-color: #FFF;
}

.x-search-btn {
    min-width: 100px;
}

.privacy-wrapper {
    h4 {
        color:@jfBlue;
        font-weight: 600;
    }
    
}