.header {
    background: @headerBackground;
    color: @headerColor;
    padding-bottom: 6px;
}

.x-logo h1 {
    margin-top: 0;
    text-indent: -9999px;
}


.x-logofont {
    font-family:Oswald,Lato, Abril Fatface;
    font-weight: 700;
    font-size:40px;
    color: @headerColor;
    text-transform: uppercase;
}


.x-logo
{
    background-image: url('../images/Logo2012.png');
    background-size: 240px 70px;
    background-repeat: no-repeat;
    width: 240px;
    height: 70px;
    margin-left:12px;
    display:block;
}