/* ========================================
 ========= start jobs page styles  ========
========================================= */

#content-section {
    //background: url('../images/bg/bg_pattern1.png') repeat fixed;
}

.x-contentpattern {
    background: url("../img/patterns/breadcrumbs.png");
    background-repeat: repeat;
}

h1.x-jobtitle {
    display: inline-block;
    font-size:  16px;
    padding: 6px;
    font-weight: 700;
}

.x-content {
    background: #fff;
}

.x-clearfilter {
    font-size: @font-standard;
}

.header-v6 .header-inner-right {
        margin-right: 7px;
    }
    
.navbar-brand {
        padding-left:15px;
}

//styles after submission of email alert form
.x-alertmessage {
    
    background-color:coral;
    h4 {color:#fff;}
    
    p {
        line-height: 1.2;
        color: #FFF;
    }
}
.alertmessage {
    background-color: #F2FAD4;
}

.error {
    color: @jfRed;
    font-weight: normal;
}


/* ======== filters wrapper ===== */
#x_filters {
    .x-emailform {
    margin-bottom: 15px;
    }
   
    h5 {
        font-weight: bold;
        font-size: @font-md;
    }
    
    li {
        padding: 2px 0;
        margin-left: 10px
    }
    
} /* ======== end filters wrapper ===== */


@media (max-width: 1024px) {
  .form-inline .form-control {
    display: inline-block !important;
    width: 40% !important;
    vertical-align: middle !important;
  }
    .email {
        width: 50% !important;
    }
}

/* ================ end job page styles ===================== */

@media (max-width: 479px){
    // hide pagination page buttons for under 480. only show previous and next.
    ul li .page {
        display:none;
    }
}
@media (max-width: 480px){
    .x-reducepad-5  {
        margin-bottom: 5px;
    }
     
    .list-inline {
        margin-left: 5px;
    }
}

@media (min-width: 360px) and (max-width: 479px){
    .x-jobtitle {
        font-size:16px;
    }
}

@media (min-width: 480px) and (max-width: 991px){
    .x-searchbar-jobs {

    }
    .x-reducepad-5
    {
        margin-bottom: 5px;
    }
}
@media (min-width: 640px) {
    .x-well-ad1 {
        display:none;
    }
}

@media (max-width: 641px) {
    .x-well-ad4 {
        display:none;
        width:560px;
    }
    
}

/* this controls (overrides bootstrap default) the offcanvas sidebar */
@media screen and (max-width: 767px) {
        .row-offcanvas {
            position: relative;
            -webkit-transition: all .25s ease-out;
            -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
        }
    
        .row-offcanvas-right .sidebar-offcanvas {
            right: -50%;
            margin-right: 15px;
        }
}
