/* ========================================
 ========= start jobs page styles  ========
========================================= */

#content-section {
    //background: url('../images/bg/bg_pattern1.png') repeat fixed;
}


.x-contentpattern {
    background: url("../img/patterns/breadcrumbs.png");
    background-repeat: repeat;
}


h1.x-jobtitle {
    display: inline-block;
    font-size:  16px;
    padding: 6px;
    font-weight: 700;
}

.x-content {
    background: #fff;
}

.x-clearfilter {
    font-size: @font-standard;
}

.header-v6 .header-inner-right {
        margin-right: 7px;
    }
    
.navbar-brand {
        padding-left:15px;
}

/* ======== filters wrapper ===== */
#x_filters {
    .x-emailform {
    margin-bottom: 15px;
    }
   
    h5 {
        font-weight: bold;
        font-size: @font-md;
    }
    
    li {
        padding: 4px 0;
    }
    
} /* ======== end filters wrapper ===== */



@media (max-width: 1024px) {
  .form-inline .form-control {
    display: inline-block !important;
    width: 40% !important;
    vertical-align: middle !important;
  }
    .email {
        width: 50% !important;
    }
}

/* ================ end job page styles ===================== */


@media (max-width: 479px){
    .x-reducepad-5  {
        margin-bottom: 5px;
    }
     
   /* .x-logo
    {
        text-align: center;
        background-image: url('../images/Logo200-11.png');
        background-repeat: no-repeat;
        width: 240px;
        min-width: 240px;
        height: 70px;
        display: block;
    }*/
}


@media (min-width: 360px) and (max-width: 479px){
    .x-jobtitle {
        font-size:16px;
    }
}




@media (min-width: 480px) and (max-width: 991px){
    .x-searchbar-jobs {

    }
    
    .x-reducepad-5
    {
       // padding-right: 5px !important;
       // padding-left: 5px !important;
        margin-bottom: 5px;
    }
}

@media (min-width: 768px) {
    
}


@media screen and (max-width: 767px) {
        .row-offcanvas-right .sidebar-offcanvas {
            right: -50%;
            margin-right: 15px;
        }
}
