@searchbarBackground: #F1F1F1;
.x-searchbar-jobs {
    //padding: 5px 0px;
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom:20px;
    background: url("../img/patterns/breadcrumbs.png");
    background: @searchbarBackground-color;
    border-bottom: 1px solid @searchbarBorder;
    color: #fff;
    background-repeat: repeat;
}


.fa-map-marker {
    padding: 2px;
}

.x-gradient {
    
   // .linerGradient(#fff, #F8F8F8, #eee);
}

.x-result-bar
{
    background: #fff;
    padding-top: 10px;
    padding-bottom: 4px;
    .x-jobtitle {
        margin:0;
        display:inline;
       // font-size: @font-standard;
        font-weight: bold;
        padding: 0 4px;
    }
    
}

.btn-primary {
    background: @jfBlue;
    border: 1px solid #ddd;
}

    /* Only on Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
        .x-searchbar-jobs {
            padding-bottom: 5px;
        }
    }