/* ========================================
 ========= start pads and margins  ========
========================================= */
.x-removeM {
    margin: 0px !important;
}

.x-removeMT {
    margin-top: 0px !important;
}

.x-removeMB {
    margin-bottom: 0px !important;
}

.x-removeML {
    margin-left: 0px !important;
}

.x-removeMR {
    margin-right: 0px !important;
}

.x-removeP {
    padding: 0px !important;
}

.x-removePT {
    padding-top: 0px !important;
}

.x-removePB {
    padding-bottom: 0px !important;
}

.x-removePL {
    padding-left: 0px !important;
}

.x-removePR {
    padding-right: 0px !important;
}

.x-inlineblock {
    display: inline-block;
}

.x-block {
    display: block;
}

/* ================ end pads and margins ===================== */


.x-offcanvas
{
    text-indent: -999px;
    margin:0;
}
.x-list-unstyled {
    padding-left: 0;
    list-style: none;
    margin-top: 0;
    margin-bottom: 10px;
}


 /* ======= MISC ================= */

.x-dashline {
    min-width:10px;
    height:4px;
    border-bottom:1px dashed #ddd;
} 


